body {
    background-color: lightcyan;
    margin: 0;
}

h1 {
    border-bottom: 2px solid black;
}

#banner-l {
    position: absolute;
    top: 30%;
    font-size: 50pt;
}

#banner-r {
    display: inline-block;
    position: absolute;
    top: 40%;
    right: 5%;
    width: 30%;
    height: 250px;
    border: 5px solid black;
}

#banner-r ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: inherit;
    background-color: #f1f1f1;
    overflow: auto;
}

#banner-r li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    height: 6em;
}

#banner-r li a.active {
    background-color: #4CAF50;
    color: white;
}

#banner-r li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

#main {
    background-image: url(background1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 98vh;
    width: 98vw;
    opacity: 0.6;
}

#box {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 50%;
    height: 30vh;
    border: 5px solid black;
    background-color: whitesmoke;
    padding: 15px;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #007575;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

#navbar li {
    float: left;
}

#navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar li a:hover {
    background-color: #00D1D1;
}

#main-content {
    display: flex;
    width: 100%;
    height: 70vh;
    background-color: #2EFFFF;
    margin-top: 10vh;
}

#content-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 15px;
}

.contet-wrap>div {
    flex: 50%;
}

.item-area {
    background-color: #A9A9A9;
    padding-left: 15px;
    width: 50%;
    height: 80vh;
}

#price-area {
    background-color: #A9A9A9;
    width: 40%;
    padding-left: 15px;
}

.credit-card {
    display: inline-block;
    margin-right: 15px;
}

.credit-card input,
label {
    display: block;
}

.flexbox {
    display: flex;
}

.inline {
    display: inline;
    width: 60vw;
    margin: 10px;
    padding: 20px;
}

table {
    border: 2px solid black;
    display: inline-table;
}

tr,
th,
td {
    text-align: center;
    border: 2px solid black;
}